@import "tailwindcss";
@plugin "daisyui";
body {
  font-family: Arial, Helvetica, sans-serif;
}
@theme {
  --color-theme-from: #f97316;
  --color-theme-via: #ec4899;
  --color-theme-to: #8b5cf6;
}

@utility bg-theme-gradient {
  background-image: linear-gradient(
    to right,
    var(--color-theme-from),
    var(--color-theme-via),
    var(--color-theme-to)
  );
}

@utility text-theme-gradient {
  background-image: linear-gradient(
    to right,
    var(--color-theme-from),
    var(--color-theme-via),
    var(--color-theme-to)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
